/* font-family: 'Roboto', sans-serif;*/

.nav-link {
    font-family: 'Roboto';
}

.trait{
    border-bottom: 10px solid rgb(255,208,4) ;
}

.btn_jaune{
    background-color:  rgb(255,208,4);
}
.cont50vh{
    min-height: 50vh;
    flex-wrap: wrap;
}
.bgfooter{
    min-height: 20vh;
    background-color: rgb(204, 202, 202);
}
.length_crud_veh{
    width: 20%!important;
    flex-wrap: wrap;

}
.bg_entete_tab{
    background-color: rgb(255,208,4);
    color: white;
    /*font-weight: bolder;*/
    text-align: center;
}
.length_crud_Cl{
        flex-wrap: nowrap;

}
.bg_ajout_vehicule{
   
   max-height:350px;
   }

   body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    
    background-image: url("../Img/road-220058_1280.jpg");
    min-height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgblanc{
      background-color: rgba(255,255,255,0.8);
      min-height: 100vh;
  }
  .ficheauto{
    -webkit-box-shadow: 7px 10px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 3px 1px rgba(0,0,0,0.75);
    background-color: rgb(255,208,4);
    border-radius: 0px 0px 31px 0px;
    margin: 5px;
    text-align: center;
         
  }